
.codacy.yaml
.coveralls.yaml
.editorconfig
.github
.history
.nyc_output
.prettierignore
.prettierrc
.travis.yaml
.vscode
*.log
*.tgz
**/*.spec.*
ava.config.js
coverage
dist/docs
nyc.config.js
package
src
test
tsconfig.*.json
tsconfig.json
tslint.json
tslint.yaml
webpack.*.js
yarn.lock
.env
typedoc.js
