.circleci
.codacy.yaml
.coveralls.yaml
.DS_Store
.editorconfig
.env*
.github
.history
.nyc_output
.prettierignore
.prettierrc
.travis.yaml
.vscode
*.log
*.tgz
**/*.spec.*
ava.config.js
coverage
dist/docs
nyc.config.js
package
src
temp
test
testpack*
tsconfig.*.json
tsconfig.json
tslint.json
tslint.yaml
typedoc.js
webpack.*.js
yarn.lock
