body {
  background-color: slategray;
  color: silver;
}

.test-box {
  margin: 1em;
  padding: 1em;
  background-color: whitesmoke;
  border-radius: .25rem;
  color: #555;
  position: relative;
  .title {
    padding: 0;
    margin: 0;
  }
  .test-body {
    background-color: #EEE;
    border: 1px dashed #CCC;
    margin: 1rem 0;
    padding: 1rem;
    min-height: 5rem;
    overflow: hidden;
  }
  .test-ctrl {
    position: absolute;
    top: 1rem;
    right: 1rem;
    button[data-alias="on"]:hover {
      background-color: #28a745
    }
  }

  .ibsheet-ctrlbox {
    margin-bottom: 1rem;
    .form-check * {
      cursor: pointer;
    }
  }

  .ibsheet-container {
    border: 1px dashed #F72604;
    background-color: #FEFEFE;
    + .ibsheet-container {
      margin-top: 1rem;
    }
    &.loaded {
      border: none;
      background-color: transparent;
    }
  }
}
