<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ htmlWebpackPlugin.options.title }}">

  <title>
    {{ htmlWebpackPlugin.options.title }}
  </title>

</head>

<body>
  <div class="test-box">
    <h3 class="title">font-aweseome library test</h3>
    <pre>https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use</pre>
    <div class="camera-sample">
      <span style="font-size: 3em; color: Tomato;">
        <i class="fas fa-camera"></i>
      </span>

      <span style="font-size: 48px; color: Dodgerblue;">
        <i class="fas fa-camera"></i>
      </span>

      <span style="font-size: 3rem;">
        <span style="color: Mediumslateblue;">
        <i class="fas fa-camera"></i>
        </span>
      </span>
    </div>
  </div>
  <div class="test-box">
    <h3 class="title">sweetalert2 library test</h3>
    <pre>https://sweetalert2.github.io/#usage</pre>
    <button onClick="Swal.fire('Any fool can use a computer')">Try me!</button>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>
